.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: rgb(232, 66, 99);
  background: linear-gradient(
    42deg,
    rgba(232, 66, 99, 1) 32%,
    rgba(227, 27, 67, 1) 62%,
    rgba(229, 26, 67, 1) 88%,
    rgba(255, 0, 66, 1) 100%
  );
}

.login-card {
  display: flex;
  width: 50%;
  height: 60%;
  flex-direction: row;
  border-radius: 1rem;
  background: rgb(232, 66, 99);
  overflow: hidden;
  box-shadow: -14px 15px 35px 1px rgba(0, 0, 0, 0.75);
}

.login-logo {
  display: flex;
  width: 60%;
  height: 100%;

  background-image: url("../../../public/Rizoma.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  min-width: 20rem;
  background-color: #fff;
  gap: 2rem;

  & > p {
    color: #811a39;
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
  }
}

.submit-container {
  & > button {
    /* Estilos del botón */
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    color: #811a39;
    transition: box-shadow 0.2s; /* Agregamos una transición para la sombra del botón */
  }

  & > button::before {
    content: "";
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #d5294d 0%, #f27a8a 100%);
    transition: 0.5s ease;
    display: block;
    z-index: -1;
  }

  & > button:hover::before {
    width: 9em;
  }

  & > button:active {
    box-shadow: 2px 2px 4px #c5c5c5, -2px -2px 4px #ffffff; /* Cambiamos la sombra en el clic */
  }
}
